<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    
    {% block script %}{% endblock %}
    
    {% block style %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block chartscript %}{% endblock %}
</body>
</html>