{% extends "_base.html" %}
{% block title %}Add observation point{% endblock %}

{% block script%}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster.list@0.4.4/dist/leaflet-markercluster-list.css"></link>
    <script lang="ts">
        /** script */
    </script>
{% endblock %}

{% block style %}
    <style type="text/tailwindcss">
    </style>
{% endblock %}

{% block body %}
    <h1>Add a new observation point</h1>
    <script>
        /** TODO */
    </script>
{% endblock %}