{% extends "_base.html" %}
{% block title %}Air Quality Data{% endblock %}

{% block script %}
    <script lang="ts">
        /** script */
    </script>
{% endblock %}

{% block style %}
    <style type="text/tailwindcss">
        
    </style>
{% endblock %}

{% block body%}
    <h1>Information at Sensor # {{ device_id }}</h1>
    <ul class="list-inside list-disc">
        <li>Device ID:
            <span id="device_id">{{ device_id }}</span>
        </li>
        
        <li>Location name:
            <span id="location_name">{{ location_name }}</span>
        </li>

        <li>Coordinates: 
            <span id="latitude">{{ latitude }}</span>,
            <span id="longitude">{{ longitude }}</span>
        </li>
        
        <!--
        <li>Air Status:
            <span id="status">{{ status|upper }}</span>
        </li>
        -->
        
        <li>Gas Concentration:
            <span id="gas_conc">{{ gas_conc }}</span>
        </li>
        
        <li>Particle Concentration (1.0 µm):
            <span id="particle_conc"> {{pm1_0_conc}} </span>
        </li>

        <li>Particle Concentration (2.5 µm):
            <span id="particle_conc"> {{pm2_5_conc}} </span>
        </li>

        <li>Particle Concentration (10.0 µm):
            <span id="particle_conc"> {{pm10_0_conc}} </span>
        </li>
    </ul>
    <button
        id="reload"
        class="text-blue-500 hover:underline border border-blue-500 px-2 rounded"
        onClick="window.location.href=window.location.href"
    >Reload page</button>
{% endblock %}