{% extends "_base.html" %}
{% block title %}Air Quality Data{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>
{% endblock %}

{% block style %}
    <style type="text/tailwindcss">
        
    </style>
{% endblock %}

{% block body%}
    <h1>Information at Sensor # {{ device_id }}</h1>
    <span class="italic text-slate-500 mb-2">(Updated as of {{ timestamp|to_ph_time() }})</span>
    <br>
    <div class="flex gap-4">
        <span class="flex-grow">Device ID: {{ device_id }}</span>
        <span class="flex-grow">Location name: {{ location_name }}</span>
        <span class="flex-grow">Coordinates: {{ latitude }}, {{ longitude }}</span>
    </div>
    <br>

    <!--div class="flex gap-8 text-xl">
        <ul class="list-inside underline">
            <li class="text-transparent no-underline">.</li>
            <li>Gas concentration:</li>
            <li>Particle concentration (1.0 µm):</li>
            <li>Particle concentration (2.5 µm):</li>
            <li>Particle concentration (10.0 µm):</li>
        </ul>
        <div>
            <h2 class="italic font-bold">Most recent</h2>
            <ul class="text-lg">
                <li> {{ gas_value_recent }} </li>
                <li> {{ pm1_0_conc_recent }} </li>
                <li> {{ pm2_5_conc_recent }} </li>
                <li> {{ pm10_0_conc_recent }} </li>
            </ul>
        </div>
        <div>
            <h2 class="italic font-bold">Over last 2 minutes</h2>
            <ul class="text-lg">
                <li> {{ gas_conc }} </li>
                <li> {{ pm1_0_conc }} </li>
                <li> {{ pm2_5_conc }} </li>
                <li> {{ pm10_0_conc }} </li>
            </ul>
        </div>
    </div-->
    <div class="flex gap-1">
        <button
            id="reload"
            class="text-blue-500 hover:underline border border-blue-500 px-2 rounded"
            onClick="window.location.href=window.location.href"
        >Reload page</button>
        <a
            id="gotographs"
            class="text-blue-500 hover:underline border border-blue-500 px-2 rounded"
            href="/graphs/{{ device_id }}"
        >Open full history</a>
    </div>
    
    <div class="grid grid-cols-2 gap-4 text-xl">
        <div>
            <span>
                <b>{{ gas_value_recent }}</b>
                | {{ gas_conc }}
            </span>
            <canvas id="dataChart_gas_conc" width="600" height="300"></canvas>
        </div>
        <div>
            <span>
                <b>{{ pm1_0_conc_recent }}</b>
                | {{ pm1_0_conc }}
            </span>
            <canvas id="dataChart_pm1_0" width="600" height="300"></canvas>
        </div>
        <div>
            <span>
                <b>{{ pm2_5_conc_recent }}</b>
                | {{ pm2_5_conc }}
            </span>
            <canvas id="dataChart_pm2_5" width="600" height="300"></canvas>
        </div>
        <div>
            <span>
                <b>{{ pm10_0_conc_recent }}</b>
                | {{ pm10_0_conc}}
            </span>
            <canvas id="dataChart_pm10_0" width="600" height="300"></canvas>
        </div>
    </div>
{% endblock %}

{% block chartscript %}
    <script>
        const device_id = {{ device_id }};

        async function drawChart(canvas_id, metric) {
            console.log(`drawing ${metric} for device ${device_id}`);
            
            const url = `/api/chart-data-recent?device_id=${device_id}&metric=${metric}`;
            console.log("Fetching:", url);
            
            const res = await fetch(url);
            const chartData = await res.json();

            const ctx = document.getElementById(canvas_id).getContext("2d");

            new Chart(ctx, {
                type: "line",
                data: {
                    labels: chartData.labels,
                    datasets: [{
                        label: chartData.label,
                        data: chartData.data,
                        borderColor: chartData.borderColor,
                        fill: false
                    }],
                },
                options: {
                    responsive: false,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            type: "time",
                            time: {
                                unit: "minute",
                                stepSize: 5,
                                displayFormats: {
                                    minute: "MM/dd, HH:mm"
                                }
                            },
                            ticks: { minRotation: 30, maxRotation: 30 },
                        },
                        y: {
                            beginAtZero: true
                        }
                    },
                },
            });
        }

        document.addEventListener("DOMContentLoaded", () => {
            drawChart("dataChart_gas_conc", "gas");
            drawChart("dataChart_pm1_0", "pm1");
            drawChart("dataChart_pm2_5", "pm2.5");
            drawChart("dataChart_pm10_0", "pm10");
        });
    </script>
{% endblock %}