{% extends "_base.html" %}
{% block title %}Home{% endblock %}

{% block script%}
    <script lang="ts">
        /** script */
    </script>
{% endblock %}

{% block style %}
    <style type="text/tailwindcss">
        a {
            @apply text-blue-500 hover:underline
        }
    </style>
{% endblock %}

{% block body %}
    <header>
        <h1>Air Quality Monitoring</h1>
    </header>
    <h2>To get started, visit the <a href="/docs">/docs API interface</a></h2>
    <h2>You can also open the <a href="https://github.com/JoseTomanan/air-quality-monitoring">Git repository</a></h2>
    <h2>Alternatively, navigate to one of the pages below:</h2>
    <ul class="list-inside list-disc">
        <li>
            <a href="/points/0">/points/0</a>
        </li>
        <li>
            <a href="/map">/map</a>
        </li>
    </ul>

    <!--
        <li>
            <a href="/add_point">/add_point</a> (POST)
        </li>
        <li>
            <a href="/delete_point">/delete_point</a> (POST)
        </li>
        <li>
            <a href="/send_air_data">/send_air_data</a> (POST)
        </li>
    -->
{% endblock %}