{% extends "_base.html" %}
{% block title %}Air Quality Graphs{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1"></script>
{% endblock %}

{% block style %}
    <style type="text/tailwindcss">
        
    </style>
{% endblock %}

{% block body%}
    <h1>Historical Graphs for Sensor # {{ device_id }}</h1>
    <h4 class="text-xl">Location: {{ location_name }}</h4>
    <h4 class="italic text-gray-600">(Note: time is in UTC, not UTC+8)</h4>
    <div class="center">
        <div class="w-1200px overflow-auto">
            <canvas id="dataChart_gas_conc" width="2400" height="400"></canvas>
        </div>
        <div class="w-1200px overflow-auto">
            <canvas id="dataChart_pm2_5" width="2400" height="400"></canvas>
        </div>
        <div class="w-1200px overflow-auto">
            <canvas id="dataChart_pm1_0" width="2400" height="400"></canvas>
        </div>
        <div class="w-1200px overflow-auto">
            <canvas id="dataChart_pm10_0" width="2400" height="400"></canvas>
        </div>
    </div>
    
    <button
        id="reload"
        class="text-blue-500 hover:underline border border-blue-500 px-2 rounded"
        onClick="window.location.href=window.location.href"
    >Reload page</button>
{% endblock %}

{% block chartscript %}
    <script> const dev_id = {{ device_id }} </script>
    <script src="{{ url_for('static', path='js/chartSetup.js') }}"></script>

{% endblock %}